@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background: radial-gradient(circle, khaki 0%, skyblue 100%);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

rubiks-slice {
    display: flex;
    flex-direction: column;
    height: 100%;
}
